body {
    background-image: url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f1f1;
    padding: 10px 0;
}

nav a {
    display: inline-block;
    color: #000000;
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #f8f2f2;
    color: #ff2727;
    border-radius: 5px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    text-align: justify;
    color: #000000;
}

h1, h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-style: italic;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 40px;
}