body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
nav {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(58, 3, 3, 0.5);
   
   
    
}
nav a {
    display: inline-block;
    color: #ff0000;
    padding: 10px 0;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: all 0.2s ease;
}
nav a:hover{
    color: blue;
}


.LS {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.Heading{
    color: white;
    text-align: center;
    padding:10px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.gallery {
    display: flex;
   flex-wrap: wrap;
    
    
}

figure {
    margin: 10px;
    text-align: center;
}
.gallery img{
    width: 400px;
    padding: 20px;
    
    
    
}
figcaption {
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: white;
}